body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#F5F7FA;
}

header{
background:white;
text-align:center;
padding:15px;
}

header h1{
margin:0;
color:#11666f;
}

nav{
background:white;
padding:15px;
text-align:center;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
}

nav a{
text-decoration:none;
margin:15px;
font-weight:bold;
color:#333;
}

nav a:hover{
color:#11666f;
}

.banner{
background:linear-gradient(to right,#e0c4d8,#9fdde9);
padding:50px;
text-align:center;
color:white;
}

section{
padding:40px;
}

section h2{
text-align:center;
color:#1E3A8A;
}

.community-box{
display:flex;
justify-content:space-around;
}

.post{
width:300px;
background:white;
border:1px solid #ccc;
border-radius:8px;
padding:20px;
text-align:center;
}

.post h3{
color:#11666f;
}

button{
background:#11666f;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
}

table{
width:80%;
margin:auto;
border-collapse:collapse;
}

table,th,td{
border:1px solid gray;
}

th{
background:#11666f;
color:white;
padding:10px;
}

td{
padding:10px;
text-align:center;
}

footer{
background:#11666f;
color:white;
text-align:center;
padding:20px;
}

.dashboard-button{
position:absolute;
right:25px;
top:20px;
background:#11666f;
color:white;
padding:10px 18px;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

.dashboard-button:hover{
background:#11666f;
}